<span id="list-<%= list.id %>">
    <h3 class="title"><%= link_to list.title, list %></h3>
    <span class="timestamp">
        Created at <%= time_ago_in_words(list.created_at) %> ago.
        <% if current_user?(list.user) %>
            <%= link_to "delete", list, method: :delete, data: { confirm: "You sure?"  } %>
        <% end %>
    </span>
</span>
