<h4>New List</h4>
<%= form_for(@list) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="input-group">
        <%= f.text_field :title,  placeholder: "New todo tist title", class: 'input-group-field', id: dom_id(@list) %>
        <div class="input-group-button">
            <%= f.submit 'Create', class: 'button' %>
        </div>
    </div>
<% end %>
